<!-- about.html -->
{% extends "base.html" %}

{% block title %}Home - Men's Fashion{% endblock %}

{% block content %}
<div class="about-cont">
    <div class="about-header">
        <h2>Welcome to the Men's Fashion</h2>
    </div>
    <div class="about-desc"><br><br><br>Our website is your ultimate destination for stylish men's outfits. We product
        an
        affordable
        price with a wide range of high-quality clothing, from formal to casual wear, to help you look and feel your
        best. <br><br>Our collection is carefully curated to provide the latest fashion trends, timeless classics, and
        everything. <br><br>Our online store products a seamless shopping experience with detailed product information,
        fast
        and reliable shipping, and excellent customer service. <br><br>We're passionate about your style and are
        committed to
        helping you find the perfect outfit for any occasion. Shop with us today and elevate your style game.</div>
</div>
{% endblock %}