{% extends "base.html" %}
{% block content %}
<div class="login-box">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="user-box">
            <legend class="border-bottom mb-4">Log In</legend>
            <div class="user-box">
                {{ form.numberOfItems.label(class="form-control-label") }}
                {% if form.numberOfItems.errors %}
                {{ form.numberOfItems(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.numberOfItems.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.numberOfItems(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}