{% extends "base.html" %}
{% block content %}
<div class="search-result">
    <h2>You searched for...</h2>
    <p>{{ searched }}</p>
    <br>

    {% for product in products %}
    <div class="products">
        <div class="product_data">
            <div class="border">
                <div class="product_details">
                    <h2><a href="{{url_for('product', product_id = product.id)}}">ID: {{ product.id}}</a></h2>
                    <img src="static/images/{{product.image_file}}" alt="">
                    <div class="">
                        <div class="">
                            <h6 class="">Product name: {{ product.product_name }}</h6>
                        </div>
                    </div>
                </div>
                <div class="product_details">
                    <div class="column">
                        <p class="product-content">Product type: {{product.product_type }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}